@import '02-tools/variables';

.block {
  background-color: $color4;
  padding: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 1.3em;
  font-weight: 500;

  &::after {
    display: block;
    content: '';
    border-bottom: 1px solid $color2;
  }
}

.subtitle {
  font-size: 1.1em;
  font-weight: 500;
}

.example {

}
