/**
 * Debug colors
 */
$debug-color-1: red;
$debug-color-2: blue;
$debug-color-3: green;
$debug-color-4: yellow;
$debug-color-5: brown;
$debug-color-6: lime;

.debug-color-1 {
  background-color: $debug-color-1;
}

.debug-color-2 {
  background-color: $debug-color-2;
}

.debug-color-3 {
  background-color: $debug-color-3;
}

.debug-color-4 {
  background-color: $debug-color-4;
}

.debug-color-5 {
  background-color: $debug-color-5;
}

.debug-color-6 {
  background-color: $debug-color-6;
}
